<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531355472441-3033uu7cv5e3d42h5narenq4u13vl05l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531355472441-3033uu7cv5e3d42h5narenq4u13vl05l</string>
	<key>API_KEY</key>
	<string>AIzaSyC5BQsUo8mzF3FtVq57dfU9jLD4htWlnIs</string>
	<key>GCM_SENDER_ID</key>
	<string>531355472441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastFood.app</string>
	<key>PROJECT_ID</key>
	<string>fastfood-c227e</string>
	<key>STORAGE_BUCKET</key>
	<string>fastfood-c227e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531355472441:ios:d05b4b709556bf5ddf73e8</string>
</dict>
</plist>